.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #002147;
}
.posts-body {
  display: flex;
  flex-direction: column;
  background-color: #1db954;
}
.posts-buttons {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 6px;
  position: relative;
  padding: 14px 14px;
}
.add-button {
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px 5px;
  background-color: #0cafff;
}
.add-button:hover {
  background-color: #00bfff;
}
.delete-button {
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px 5px;
  background-color: #cc0000;
}
.delete-button:hover {
  background-color: #ff0800;
}
.edit-button {
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px 5px;
  background-color: #018749;
}
.edit-button:hover {
  background-color: #1db954;
}

.posts-name {
  padding: 14px 14px;
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.posts-name button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 2px;
  height: 36px;
  line-height: 34px;
  font-size: 14px;
  color: #ffffff;
  background-color: #007c89;
  transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
  padding: 0 18px;
}
.posts-name button:hover {
  color: #ffffff;
  background-color: #006570;
}
.comments-page {
  width: 100%;
  background-color: #010b47;
}
